body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}

.header {
  margin: 10px auto;
  display: grid;
  align-items: center;
  width: 800px;
  justify-items: center;
}

@media (max-width: 1200px) {
  .header {
    margin: 10px auto;
    display: grid;
    align-items: center;
    width: 600px;
    justify-items: center;
  }
}

@media (max-width: 800px) {
  .header {
    margin: 10px auto;
    display: grid;
    align-items: center;
    width: 500px;
    /* background-color: red; */
    /* height: 200px; */
    justify-items: center;
  }

  .title {
    margin: 0;
    text-align: center;
    font-size: 20px !important;
    padding: 2px;
  }

  .name {
    background: #272727;
    color: white;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 25px !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: 0 5px 20px #272727;
  }
}

@media (max-width: 600px) {
  .header {
    margin: 10px auto;
    display: grid;
    align-items: center;
    width: 300px;
    justify-items: center;
  }
  .title {
    margin: 0;
    text-align: center;
    font-size: 18px !important;
    padding: 2px;
  }

  .name {
    background: #272727;
    color: white;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 25px !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: 0 5px 20px #272727;
  }
}

/*           ABOUT SECTION      */

.profile-image {
  width: auto;
  height: 315px;
  margin-right: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.6;
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 0.6;
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    opacity: 0.6;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media (max-width: 800px) {
  
} */

.name {
  background: #272727;
  color: white;
  border-radius: 7px;
  padding: 5px 20px 5px 20px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0 5px 20px #272727;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding: 2px;
}

.container {
  margin: 0 auto;
  width: 800px;
}

li {
  list-style: none;
  margin: 0;
  letter-spacing: 0.2px;
}

/* ------------ THE SELECTOR --------------------------------- */
.selector-list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  align-items: center;
  justify-items: center;
  cursor: pointer;
  margin-top: 30px;
  font-size: 18px;
}

/* Media queries for the selector-list */
@media (max-width: 800px) {
  .container {
    margin: 0 auto;
    width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 auto;
    width: 300px;
  }
  .selector-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    font-size: 14px;
  }
}

/* ---------------------------------------------------------------- */

.about {
  margin: 50px auto;
  display: flex;
  line-height: 1.5;
  width: 800px;
}

@media (max-width: 1200px) {
  .about {
    display: flex;
    margin: 50px auto;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 600px;
  }
}

@media (max-width: 800px) {
  .about {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .profile-image {
    width: auto;
    height: 250px;
    margin-right: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
  }
}

@media (max-width: 600px) {
  .about {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .profile-image {
    width: auto;
    height: 200px;
    margin-right: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
    margin-top: 20px;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
  }
}

.about-text {
  font-size: 20px;
  font-weight: 380;
  /* grid-area: "text"; */
  /* color: #696969; */
  letter-spacing: 0.5px;
  /* margin-right: 15px; */
  background: #eeeeee;
  padding: 20px;
  animation-name: moveInRight;
  animation-duration: 1.5s;
}

/* @media (max-width: 800px) {
  .about-text {
    font-size: 18px;
    width: 500px;
  }
} */

.highlight {
  font-weight: bold;
  color: #272727;
  font-size: 25px;
  font-family: "Pacifico", cursive;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #272727;
  padding: 8px 20px;
  /* border-radius: 10px; */
  border: none;
  /* box-shadow: 2px 3px #888888; */
  transition: all 0.2s;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 150px;
  animation-name: moveFromBottom;
  animation-duration: 1.5s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}

.button:focus {
  outline: none;
}

.button:active {
  transform: translateY(-1px);
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.button-download {
  /* background-color: white; */
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/*   EDUCATION SECTION   */
.education-block {
  margin: 40px auto;
  width: 800px;
  box-sizing: border-box;
}

.education-block__tab {
  display: flex;
  /* border-bottom: 1px solid #272727; */
  margin-bottom: 10px;
  /* animation-name: moveFromBottom;
  animation-duration: 1.2s; */
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.education-block__tab:nth-child(1) {
  animation-delay: 0.25s;
}

.education-block__tab:nth-child(2) {
  animation-delay: 0.5s;
}

.education-block__tab:nth-child(3) {
  animation-delay: 1.15s;
}

@media (max-width: 1200px) {
  .education-block {
    width: 600px;
  }
  .education-block__tab {
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #272727; */
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }

  .education-block__date {
    width: 200px;
  }

  .education-block__info {
    width: 600px;
    padding: 10px;
    /* padding-left: 60px; */
    background: #eeeeee;
  }
}

@media (max-width: 800px) {
  .education-block {
    width: 500px;
  }
  .education-block__date {
    width: 200px;
  }
  .education-block__info {
    width: 500px;
    padding: 10px;
    /* padding-left: 60px; */
    background: #eeeeee;
  }
}

@media (max-width: 600px) {
  .education-block {
    width: 300px;
  }
  .education-block__date {
    width: 200px;
    /* height: 500px; */
  }
  .education-block__info {
    width: 300px;
    padding: 10px;
    /* padding-left: 60px; */
    background: #eeeeee;
  }
}

.education-block__date {
  flex: 0 0 30%;
  background: #272727;
  color: white;
  font-size: 22px;
  display: inline-block;
  height: 35px;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  /* animation-name: moveInLeft;
  animation-duration: 1.1s; */
}

.education-block__info {
  flex: 1;
  padding: 10px;
  /* padding-left: 60px; */
  background: #eeeeee;
  /* animation-name: moveInRight;
  animation-duration: 1.5s; */
}

.education-block__heading {
  font-size: 18px;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  /* animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite; */
}

.education-block__paragraph {
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 300;
}

/*            SKILLS SECTION                 */
.skill-block {
  margin: 50px auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .skill-block {
    display: flex;
    /* margin: 50px auto; */
    /* flex-direction: column; */
    width: 600px;
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .skill-block {
    display: flex;
    /* margin: 50px auto; */
    flex-direction: column;
    width: 500px;
  }
}

@media (max-width: 600px) {
  .skill-block {
    display: flex;
    /* margin: 50px auto; */
    flex-direction: column;
    width: 300px;
  }
}

.skill-block__heading {
  background: #272727;
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.skill-list {
  padding: 0;
  width: 100%;
}

.skill-item {
  font-size: 17px;
  padding: 5px 15px;
  color: #272727;
  overflow: hidden;
  margin: 0 auto 5px auto;
  white-space: nowrap;
  background-color: #eeeeee;
  /* text-align: center; */
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  box-shadow: 0 0.001px 0.002px rgba(0, 0, 0, 0.7);
}

.skill-item:nth-child(1) {
  animation-delay: 0.15s;
}

.skill-item:nth-child(2) {
  animation-delay: 0.3s;
}

.skill-item:nth-child(3) {
  animation-delay: 0.45s;
}

.skill-item:nth-child(4) {
  animation-delay: 1s;
}

.skill-item:nth-child(5) {
  animation-delay: 1.15s;
}

.skill-item:nth-child(6) {
  animation-delay: 1.3s;
}

.skill-item:nth-child(7) {
  animation-delay: 1.45s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }

  70% {
    opacity: 0.5;
    top: 0px;
  }

  100% {
    opacity: 1;
  }
}

/*             CONTACT SECTIOn        */
.contact {
  margin: 50px auto;
  width: 800px;
  display: flex;
  background-color: #eeeeee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1200px) {
  .contact {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-bottom: 20px;
  }

  #map {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .contact {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-bottom: 20px;
  }

  #map {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .contact {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 30px;
  }

  #map {
    margin-bottom: 30px;
  }
}

#map {
  height: 500px;
  /* margin-top: -1.7rem; */
  padding: 0;
  flex: 0 0 50%;
  /* border-right: 2px solid #272727; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.contact-list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 45px);
  grid-gap: 15px;
  cursor: pointer;
  /* animation-name: appearIn;
  animation-duration: 1s; */
}

@keyframes appearIn {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.contact-item:hover {
  transform: translateY(-10px) scale(1.5);
}

.map-heading {
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.map-info {
  font-size: 13px;
  letter-spacing: 0.5px;
}

/*============== PROJECTS ============ */

.project-div {
  margin: 30px auto;
  width: 800px;
}

.project-img {
  width: 600px;
  height: auto;
}

.img-container {
  display: grid;
  align-content: center;
  justify-items: center;
}

.project {
  background-color: #eeeeee;
  padding: 10px;
  height: auto;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.project:nth-child(1) {
  animation-delay: 0.15s;
}

.project:nth-child(2) {
  animation-delay: 0.3s;
}

.project:nth-child(3) {
  animation-delay: 0.45s;
}

.project:nth-child(4) {
  animation-delay: 1s;
}

.project:nth-child(5) {
  animation-delay: 1.15s;
}

.project-title {
  font-size: 20px;
  margin: 0;
  background: #272727;
  color: white;
  width: 180px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.project-shortDesc {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #3f3f3f;
}

.project-desc {
  height: 80px;
}

.tag-div {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.tag {
  display: flex;
  flex-direction: row;
}

.tag-item {
  background-color: white;
  color: #272727;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
  margin-right: 10px;
  /* color: white; */
  font-weight: 400;
  /* border-radius: 5px; */
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.9);
}

.project-bottom {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.link {
  padding: 10px;
}

.link-item:hover {
  transform: translateY(-10px) scale(1.5);
}

@media (max-width: 1200px) {
  .project-div {
    margin: 20px auto;
    width: 600px;
  }

  .project-img {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .project-div {
    margin: 30px auto;
    width: 400px;
  }

  .project-img {
    width: 300px;
    color: red;
    height: auto;
  }

  .project-bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .link {
    padding: 5px;
  }

  .project-desc {
    height: 120px;
  }

  .project-shortDesc {
    height: 40px;
  }

  .project-title {
    font-size: 18px;
    margin: 10px;
    background: #272727;
    color: white;
    /* width: 180px; */
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  }
}

@media (max-width: 600px) {
  .project-div {
    margin: 40px 10px;
    width: 320px;
  }

  .project-img {
    width: 200px;
    color: red;
    height: auto;
  }

  .project-desc {
    height: 130px;
    font-size: 14px;
  }

  .project-shortDesc {
    height: 40px;
    font-size: 14px;
  }

  .tag-item {
    background-color: white;
    color: #272727;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    padding: 2px;
    margin-right: 5px;
    /* color: white; */
    font-weight: 400;
    /* border-radius: 5px; */
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.9);
  }

  .project-title {
    font-size: 16px;
    margin: 10px;
    background: #272727;
    color: white;
    /* width: 180px; */
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  }
}

/* -------------------- THE BLOG COMPONENT ---------------- */
.blog {
  margin: 50px auto;
  width: 400px;
}

@media (max-width: 600px) {
  .blog {
    margin: 30px auto;
    width: 300px;
  }
  .blog-heading {
    font-size: 14px;
    letter-spacing: 0.15em;
  }
  .giphy-embed {
    width: 300px;
  }
}

.blog-heading {
  /* text-align: center; */
  text-transform: uppercase;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #272727;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.18em;
  /* font-size: 25px; */
  padding: 10px;
  font-weight: 300;
  font-family: monospace;
  background: #eeeeee;
  /* text-align: center; */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* -- typewriter animation for blog heading */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #272727;
  }
}

/* ---------------------- FOOTER -------------------- */
.footer {
  height: 60px;
  margin-top: 120px;
  background: #272727;
}

.footer-title {
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
